<div class="painting-details-container">
    <div class="painting-headers">
        <p class="painting-title" id="artworkTitle">{{artwork.title}}</p>
        <p class="painting-author" id="artworkAuthor">{{artwork.author}}</p>
        <p class="painting-date" id="artworkDate">{{artwork.presentingDate}}</p>
    </div>
    <div class="painting-info-container">
        <div class="painting-image-container"> 
            <div>
                <mat-spinner *ngIf="!imageLoaded"></mat-spinner>
                <img [hidden]="!imageLoaded"
                    id="artworkImage"
                    (load)="onImageLoad()"
                    [src]="artwork.imageUrl" alt=""
                    class="mat-elevation-z8"
                    style="max-width: 100%; max-height: 100%">
            </div>
        </div>
        <div class="painting-info">
            <div class="painting-description">
                <p class="painting-info-header">Description</p>
                <hr>
                <p id="artworkDescription">{{artwork.description}}</p>
            </div>
            <div class="painting-meta">
                <div class="painting-materials">
                    <p class="painting-info-header">Materials</p>
                    <hr>
                    <ol id="artworkMaterialsList">
                        <li *ngFor="let material of artwork.materials">{{material}}</li>
                    </ol>
                </div>
                <div class="painting-techniques">
                    <p class="painting-info-header">Techniques</p>
                    <hr>
                    <ol id="artworkTechniquesList" *ngIf="artwork.techniques.length > 0">
                        <li *ngFor="let technique of artwork.techniques">{{technique}}</li>
                    </ol>
                    <p *ngIf="artwork.techniques.length === 0">Information about techniques not available</p>
                </div>
            </div>
        </div>
    </div>
</div>