.carousel-button {
    background-color: rgb(199, 199, 199);
    opacity: .5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
    background-color: rgb(210, 210, 210);;
}