<div class="search-modal-container">
    <div>
        <h2>Search artworks...</h2>
    </div>
    <div class="search-modal-controls">
        <div style="width: 100%">
           <mat-form-field style="width: 100%">
            <mat-label>Author</mat-label>
            <input matInput type="text" [(ngModel)]="author">
           </mat-form-field>
        </div>
        <div>
            <chip-multiselect
                [placeholder]="'Materials'"
                [label]="'Material'"
                [allValues]="allMaterials"
                [(values)]="materials"
            >
            </chip-multiselect>
        </div>
        <div>
            <chip-multiselect
                [placeholder]="'Techniques'"
                [label]="'Technique'"
                [allValues]="allTechniques"
                [(values)]="techniques"
            >
            </chip-multiselect>
        </div>
        <div>
            <mat-form-field>
             <mat-label>Artwork century</mat-label>
             <input matInput type="text" [(ngModel)]="artworkCentury">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
             <mat-label>Description</mat-label>
             <textarea matInput type="text" [(ngModel)]="description"></textarea>
            </mat-form-field>
         </div>
    </div>
    <button mat-flat-button color="primary" (click)="try()">Search</button>
</div>