.search-modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #7c4b3a; */
}

.search-modal-controls {
    width: 90%
}

.search-modal-controls mat-form-field {
    width: 100%
}