<mat-toolbar color="primary" style="min-height: 30px !important; height: 50px !important; padding-left: 0px !important">
    <div class="menu-icon">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span>Museum Browser </span>
    <span class="example-spacer"></span>
    <a href="https://github.com/victorh18/museum-browser" >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="margin-right: 10px">
            <mat-icon svgIcon="github"></mat-icon>
        </button>
    </a>
    
</mat-toolbar>