<div class="carousel">
    <div class="carousel-container mat-elevation-z8">
      <carousel-button [icon]="'navigate_before'" class="carousel-button" (click)="movePrevious()"></carousel-button>
      <carousel-tile 
        #previousTile
        class="background-tile"
        [@movePrevious]="getPreviousAnimationState(movedNext, movedPrevious)"
        [imageUrl]="getPreviousImage(currentIndex)" 
        (click)="movePrevious()">
      </carousel-tile>
  
      <mat-spinner *ngIf="images.length === 0"></mat-spinner>
      <carousel-tile *ngIf="images.length > 0"
        #currentTile
        class="current-tile"
        (click)="clickOnCurrent()"
        [@moveCurrent]="getCurrentAnimationState(movedNext, movedPrevious)"  
        [imageUrl]="images[currentIndex].imageUrl">     

      </carousel-tile>
  
      <carousel-tile 
        #nextTile 
        class="background-tile"
        [imageUrl]="getNextImage(currentIndex)" 
        [@moveNext]="getNextAnimationState(movedNext, movedPrevious)"
        (@moveNext.start)="resetAnimation()"
        (click)="moveNext()">
      </carousel-tile>
      <carousel-button [icon]="'navigate_next'" class="carousel-button" (click)="moveNext()"></carousel-button>
    </div>
  </div>
  <div *ngIf="images.length > 0" class="current-tile-desc">
    <i class="current-tile-desc-text">{{ images[currentIndex].imageTitle }}</i>
    <i>{{ images[currentIndex].imageAuthor }}</i>
  </div>
  