
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$museum-browser-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$museum-browser-warn: mat.define-palette(mat.$red-palette);

$museum-browser-palette: (
  50 : #efe9e7,
  100 : #d8c9c4,
  200 : #bea59d,
  300 : #a38175,
  400 : #906658,
  500 : #7c4b3a,
  600 : #744434,
  700 : #693b2c,
  800 : #5f3325,
  900 : #4c2318,
  A100 : #ffa18b,
  A200 : #ff7858,
  A400 : #ff4e25,
  A700 : #ff3a0b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$museum-browser-primary: mat.define-palette($museum-browser-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$museum-browser-theme: mat.define-light-theme((
  color: (
    primary: $museum-browser-primary,
    accent: $museum-browser-accent,
    warn: $museum-browser-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($museum-browser-theme);

